.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch h2 {
    font-size: 4em;
}

.stopwatch button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    background-color: #1abc9c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.stopwatch button:hover {
    background-color: #16a085;
}

#tracker {
    margin-top: 20px;
    font-size: 1.2em;
}

